.body{
    background-color: #fcec77;
    display: flex;
}

img{
    width: 45vw ;
    height: 55vh ;
}

.txtkhk,.txtzlh,.txtst{
    width: 40vw;
    height: 55vh;
    margin: 0 10%;
    font-size: 30px;
}